torch>=1.5
torchaudio>=0.7.0
hydra-core>=1.1
julius
mne>=0.24.1
pandas>=1.1
tqdm
python-Levenshtein
scikit-learn
wordfreq
pytest
pytest-cov>=2.6.1
flake8
mypy
numpy
types-PyYAML
spacy<2.4.0
wandb
numba
mne_bids
osfclient
matplotlib>=3.5.1
scipy
submitit
flashy
transformers>=4.15.0
pyyaml
jsonlines
pytorch-lightning<2.0
